/*!CK:3766874654!*//*1419066068,*/

._sx9{display:inline-block}._sxa,._sxa a,._sxb,._sxb a,._sxc,._sxc a{font-size:12px;line-height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._sxc,._sxc a{color:#3b5998;font-weight:bold}._sxa,._sxa a{color:#4e5665}._sxb,._sxb a{color:#9197a3}.async_saving ._sxd{display:none}._sxd{height:14px;margin-top:2px}._sxd a{color:#3b5998;font-family:'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;font-size:12px}

#bootloader_zCgIv { height: 42px; }
.bootloader_zCgIv { display:block !important; }